body {
    background-repeat: no-repeat;
    background-color: ghostwhite;
}
#bgForm {
    float: left;
    background-color: white;
    height: 37px;
    padding: 5px;
    margin-left: 853px;
    margin-top: 0px;
    border-radius: 5px;
}
#bgMenu {
    width: 80px;
}
h1 {
    max-width: fit-content;
    clear: both;
    margin-left: 300px;
    margin-bottom: 40px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}
main {
    margin: 0px 150px;
    width: 600px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .25);  
    backdrop-filter: blur(5px);
}
#todoTextField {
    width: 377px;
    height: 30px;
    border: 2px black solid;
    padding-left: 20px;
    margin-right: 40px;
}
#listPadding {
    padding: 20px;
}
#addButton {
    width: 113px;
    height: 36px;
    background-color: white;
    border: 2px black solid;
}
ul {
    list-style-type: none;
    margin: 5px 0px;
    padding: 10px 0px;
    min-height: 45px;
}
li {
    margin: 2px 0px;
    padding: 10px 20px;
    background-color: rgba(210, 230, 240, 0.8);
}
li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.8);
}
.crossOver {
    text-decoration: line-through;
    text-decoration-color: red;
    background-color: rgba(50, 50, 50, 0.3) !important; 
}
#buttons {
    height: 36px;
}
#buttonLeft {
    float: left;
    width: 25%;
    height: 36px;
}
#itemCounter {
    display: block;
    padding: 5px;
    height: 36px;
    font-size: 20px;
}
#buttonsMiddle {
    float: left;
    width: 50%;
}
#buttonsMiddle button {
    width: 85px;
    height: 36px;
    background-color: white;
    border: 2px black solid;
}
#buttonRight {
    float: right;
    width: 25%;
}
#buttonRight button {
    float: right;
    height: 36px;
    background-color: white;
    border: 2px black solid;
}
button:hover, #addButton:hover, #bgMenu:hover {
    background-color: rgb(200, 200, 200) !important;
}
li:hover {
    background-color: rgba(100, 100, 100, 0.5) !important;
}
footer p {
    position: absolute;
    top: 590px;
    left: 780px;
    padding: 5px;
    max-width: fit-content;
    background-color: white;
    border-radius: 5px;
}